<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css"/>
</head>
<body class="container">
<h1><%= title %></h1>
<form action="/profile" method="post" name="auth" class="form-group-lg">
    <label for="name">Name</label><br>
    <input type="text" name="name" placeholder="Name" class="input-lg" value="<%= user.name %>" required/><br>
    <label for="surname">Surname</label><br>
    <input type="text" name="surname" placeholder="Surname" class="input-lg" value="<%= user.surname %>" required/><br>
    <label for="age">Age</label><br>
    <input type="number" name="age" placeholder="Age" value="<%= user.age %>" class="input-lg" required/><br>
    <label for="degree">Degree</label><br>
    <input type="text" name="degree" placeholder="Degree" class="input-lg" value="<%= user.degree %>" required/><br>
    <label for="fav">Favourite Course</label><br>
    <input type="text" name="fav" placeholder="Favourite Course" class="input-lg" value="<%= user.fav %>" required/><br>
    <label for="password">Password</label><br>
    <input type="password" name="password" placeholder="Password" class="input-lg" required/><br>
    <button class="btn btn-lg btn-primary">Save Details</button>
    <br><br>
    <a href="/profile" class="btn btn-lg btn-primary">Back to Profile</a>
</form>
</body>
</html>
