<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css"/>
</head>
<body class="container">
<h1><%= title %></h1>
<h2><strong>Name: </strong><%= user.name %></h2>
<h2><strong>Surname: </strong><%= user.surname %></h2>
<h2><strong>Age: </strong><%= user.age %></h2>
<h2><strong>Email: </strong><%= user.email %></h2>
<h2><strong>Degree: </strong><%= user.degree %></h2>
<h2><strong>Favourite Course: </strong><%= user.fav %></h2>
<a href="/edit-profile" class="btn btn-lg btn-primary">Edit Profile Details</a><br><br>
<a href="/logout" class="btn btn-lg btn-primary">Logout</a>
</body>
</html>
